<h2><a href="/pokemon">Pokedex</a></h2>

<h3>Add a new Pokemon:</h3>
<form action="/pokemon" method="post">
  <label>Name: </label>
  <input name="pokemon[name]">

  <label>Type: </label>
  <input name="pokemon[poke_type]">

  <label>CP</label>
  <input name="pokemon[cp]">

  <label>Image URL</label>
  <input name="pokemon[]">

</form>
