<h2><a href="/pokemon">Pokedex</a></h2>
<div class="pokemon">
  <h3>Name: <%= @pokemon.name %></h3>
  <h4>Type: <%= @pokemon.poke_type.capitalize %></h4>
  <h4>Combat Power: <%= @pokemon.cp %></h4>
  <img src="<%= @pokemon.img_url %>">
</div>
